* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 8%);
    padding: 8rem 0.5rem;
    width: 100vw;

}

article {
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    margin: auto;
    padding: 0.1rem 1.8rem 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    width: 90%;
}

.section__container {
    text-align: center;
}

.section__image {
    border-radius: 50%;
    padding: 1.65rem 1.9rem ;
    
    width: 55%;
}

.section__title {
    font-size: 1.55rem;
    font-weight: 400;
    
}

.section__subtitle {
    color: hsl(75, 94%, 57%);
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0.7rem auto;
}

.section__description {
    margin: 2rem auto 0.5rem;
}

article div.social__container {
    flex-grow: 4;
}

.social__list {
    list-style: none;
}

.social__list--item {
    margin-top: 1rem;
    border-radius: 6px;
    background-color: hsl(0, 0%, 20%);
    padding: 0.85rem 1rem;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}


footer {
    .attribution {
        font-size: 11px;
        text-align: center;
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}

/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Green: hsl(75, 94%, 57%)

### Neutral

- White: hsl(0, 0%, 100%)
- Grey: hsl(0, 0%, 20%)
- Dark Grey: hsl(0, 0%, 12%)
- Off Black: hsl(0, 0%, 8%)

## Typography

### Body Copy

- Font size (paragraph): 14px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 600, 700
 */