* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 8%);
    padding: 8rem 0.5rem;
    width: 100vw;

}

article {
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    margin: auto;
    padding: 0.1rem 1.8rem 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    width: 90%;
}

                            /* section */

.section__container {
    text-align: center;
}

.section__image {
    border-radius: 50%;
    padding: 1.65rem 1.9rem;
    width: 55%;
}

.section__title {
    font-size: 1.55rem;
    font-weight: 400;

}

.section__subtitle {
    color: hsl(75, 94%, 57%);
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0.7rem auto;
}

.section__description {
    margin: 2rem auto 0.5rem;
}

                                /* Social */

article div.social__container {
    flex-grow: 4;
}

.social__list {
    list-style: none;
}

li a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

li:hover a {
    color: hsl(0, 0%, 8%);
    font-weight: 700;
}

.social__list--item {
    margin-top: 1rem;
    border-radius: 6px;
    background-color: hsl(0, 0%, 20%);
    padding: 0.85rem 1rem;
}

.social__list--item:hover {
    background-color: hsl(75, 94%, 57%);
    cursor: pointer;    
}

/* footer {
    .attribution {
        font-size: 11px;
        text-align: center;
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }
} */

@media screen and (width > 375px){
    article{
        width: 28vw;
        padding-bottom: 2.7rem;
    }
    .section__image{
        padding: 2.3rem 1.9rem 1.7rem;
        width: 45.5%;
    }
    .section__title {
        font-size: 1.4rem;
        margin-bottom: 0.6rem;
    
    }
    .section__subtitle {
        
        font-size: 0.875rem;
        
        margin: 0.4rem auto 0.6rem;
    }
    
}
